body {
    overflow-y: auto;
}

@media screen {
    .btn {
        width: calc(50% - 6px);
        margin-left: 3px;
        margin-right: 3px;
        box-sizing: border-box;
    }
}

sup {
    font-size: 10px;
    color: var(--accent);
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

h1, p {
    margin: 8px 2px;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin: 0 0;
}

h3 {
    font-size: 16px;
    margin: 0 0;
}

p {
    font-size: 13px;
    line-height: 18px;
}

li {
    font-size: 14px;
    margin: 0 0;
}

.l-div {
    border-radius: 6px;
    background-color: var(--secondary);
    display: block;
    box-sizing: border-box;
    transform: translateX(-6px);
    width: 100%;
    padding: 4px 8px;
    margin: 6px;
}